
<%- include('partials/header.ejs') %>

<div class="container mt-5">
    <h1>Hi <%= user %>!</h1>
    <div class="container mt-5">
        <a class="btn btn-primary " href="/blog/compose" role="button" >Create Blog!</a>
        <a class="btn btn-primary " href="/logout" role="button" >Logout</a>
        <hr>

        <% if(posts.length>0){%>
            <h3>These are your blog posts...</h3>
        
            <% posts.forEach((post)=>{ %>
                <h1><%= post.title %></h1>
                <p><%= post.content.substring(0,100)+" ..." %>
                    <a href="/blog/posts/<%= post._id %>">Read More</a>
                </p>
            <% }) %>
        <% }else{ %>
            <h3>Create new blog!</h3>
        <% } %>
     </div>
    
</div>


<%- include('partials/footer.ejs') %>