
<%- include('partials/header.ejs') %>

<div class="container mt-5">
    <h1>Hi <%= user %>!</h1>
    <% if(posts.length>0){%>
    <h3>These are your blog posts...</h3>

    <% posts.forEach((post)=>{ %>
        <hr>
        <h1><%= post.title %></h1>
        <p><%= post.content.substring(0,100)+" ..." %>
            <a href="/blog/posts/<%= post._id %>">Read More</a>
        </p>
    <% }) %>
    <% }else{ %>
        <h3>There are no blog posts to show</h3>
        <p>Create blog post by clicking + at top-right</p>
    <% } %>
    <hr>
    <a class="btn btn-primary" href="/logout" role="button">Logout</a>
</div>


<%- include('partials/footer.ejs') %>