<%- include("partials/header.ejs"); %>

<article class="full-blog-post">
    <h2><%= title %></h2>
    <span style="color: grey;"><%= createdAt %></span>
    <hr class="post-separate">
    <p><%- content %></p>

    <div class="buttons">
      <form action="/blog/delete/<%= id %>?_method=DELETE" method="post" >
        <input type="submit" value="Delete" class="delete-button">
      </form>

      <form action="/blog/compose/update/<%= id %>" method="get" >
        <input type="submit" value="Update" class="update-button">
      </form>
    </div>
  </article>
    
    
</div>





<%- include("partials/footer.ejs"); %>
