<%- include("partials/header.ejs"); %>

<h1><%= title %></h1>
<p><%= content %></p>

<div >
    <form action="/delete/<%= id %>" method="post" class="modify">
        <input type="submit" value="Delete" class="btn btn-danger">
    </form>

    <form action="/compose/update/<%= id %>" method="get" class="modify">
        <input type="submit" value="Update" class="btn btn-danger">
    </form>
</div>



<%- include("partials/footer.ejs"); %>