<%- include("partials/header.ejs"); %>

<h1><%= title %></h1>
<p><%= content %></p>

<form action="/<%= id %>" method="post">
    <input type="submit" value="Delete" class="btn btn-danger">
</form>

<%- include("partials/footer.ejs"); %>