
<%- include('partials/header.ejs') %>


<div class="container mt-5">
    <div class="user">
        <h2><%= author.fullname %>!</h2>
        <h6>blogs 📝</h6>
    </div>
    
    <div class="container mt-5">

        <% if(posts.length>0){%>
            <% posts.forEach((post)=>{ %>
                <hr>
                <div class="Title">
                    <h3><%= post.title %></h3>
                </div>
                <div class="Description">
                    <p><%- post.content.substring(0,100)+" ..." %>
                        <a href="/search/posts/<%= post._id %>">Read More</a>
                    </p>
                </div>
                
            <% }) %>
        <% }else{ %>
            <hr>
            <h5>No Blogs Found!</h5>
        <% } %>
     </div>
    
</div>

<%- include('partials/footer.ejs') %>