<%- include('partials/header.ejs') %>

<div class="container mt-5">

    <% if(posts.length>0){%>

        <span style="padding-top: 40rem; font-size: medium;"><%= posts.length %> results for <%= search %>...</span>
        <% posts.forEach((post)=>{ %>
            <hr>
            <div class="Title">
                <h3><%= post.title %></h3>
            </div>
            <div class="Description">
                <p><%- post.content.substring(0,100)+" ..." %>
                    <a href="/search/posts/<%= post._id %>">Read More</a>
                </p>
            </div>
            
        <% }) %>
    <% }else{ %>
        <hr>
        <h2 style="padding: auto;">No results for "<%= search %>"...</h2>
    <% } %>
 </div>

<%- include('partials/footer.ejs') %>