<%- include('partials/header.ejs') %>

<div class="user-dashboard">

    <% if(posts.length>0){%>
        <h4 style="padding-top: 1rem; font-size: medium;"><%= posts.length %> results for '<%= search %>'...</h4>
        <hr style="border-bottom: 2px solid #000; margin:5px">
      <% posts.forEach((post)=>{ %>
          <div class="blog-post">
                <h2><%= post.title %></h2>
                  <p><%- post.content.substring(0,150) %></p>
                  <a href="/search/posts/<%= post._id %>" role="button" class="read-more">Read More</a>
          </div> 
      <% }) %>
    <% }else{ %>
        <h2 style="padding: auto; text-align: center;">No results found for "<%= search %>"...</h2>
    <% } %>
  </div>

<%- include('partials/footer.ejs') %>