<%- include('partials/header.ejs') %>

<div class="container mt-5">

    <% if(posts.length>0){%>

        <p style="padding-top: 1rem; font-size: medium;"><%= posts.length %> results for <%= search %>...</p>
        <hr>
        <% posts.forEach((post)=>{ %>
            <div class="post">
                <div class="Title">
                    <h2><%= post.title %></h2>
                    <hr class="all-posts">
                </div>
                <div class="Description">
                    <p><%- post.content.substring(0,120)+" ..." %>
                        <a href="/search/posts/<%= post._id %>">Read More</a>
                    </p>
                </div>
            </div>
            <br>
            
        <% }) %>
    <% }else{ %>
        <h2 style="padding: auto; text-align: center;">No results for "<%= search %>"...</h2>
    <% } %>
 </div>

<%- include('partials/footer.ejs') %>