<%- include("partials/header.ejs"); %>

<div class="blog-post-form">
    <h2>Create a New Blog Post</h2>
    <form id="myForm" method="POST" action="/blog/compose/update/<%= post._id %>?_method=PUT">
      <label for="post-title">Title:</label>
      <input type="text" spellcheck="true" required autofocus name="title" value="<%= post.title %>" id="post-title" required>

      <label for="post-content">Content:</label>
      <div id="editor"  id="post-content"></div>
      
      <input type="submit" value="Publish">
      <a href="/blog/posts/<%= post._id %>" role="button" style="margin: 5px; text-decoration: none;">Cancel</a>
    </form>
  </div>

  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
  <script>
    // Initialize Quill.js
    var quill = new Quill('#editor', {
      theme: 'snow'
    });

    // Set the fetched content in the Quill.js editor
    
    quill.root.innerHTML = '<%- post.content.replace(/\n/g, '<br>') %> ';   //replace("\n", "<br>")

    // Listen for form submission
    document.getElementById('myForm').addEventListener('submit', function(event) {
      // Get content from Quill.js editor
      var content = quill.root.innerHTML;

      // Create a hidden input field and append it to the form
      var hiddenInput = document.createElement('input');
      hiddenInput.setAttribute('type', 'hidden');
      hiddenInput.setAttribute('name', 'content');
      hiddenInput.setAttribute('value', content);
      this.appendChild(hiddenInput);
    });
    
   </script>

<%- include("partials/footer.ejs"); %>
