<%- include("partials/header.ejs"); %>

<h1>Compose</h1>
<form method="POST" action="/blog/compose/update/<%= post._id %>?_method=PUT">
    <div class="form-group">
        <label >Title</label>
        <input type="text" name="postTitle" value="<%= post.title %>" class="form-control">
        <label >Post</label>
        <textarea type="text" name="postBody" rows="8" cols="80" class="form-control"><%= post.content %></textarea>
    </div>
    <input type="submit" value="Update" class="btn btn-primary">
</form>

<%- include("partials/footer.ejs"); %>
